
<div class="comment row">
  <div class="col-lg-2 comments_image">
    <img src=<%= comment.user.image%> width="60" height="60" style="border-radius: 10px;">
  </div>
  <div class="col-lg-10">
    <strong class = "comments_nickname"><%= link_to comment.user.name, user_url(comment.user) %></strong><br>
    <%= comment.text %>
    
  </div>
 
    <%= link_to like_comment_path(comment), class: 'likebtn-wrapper', remote: true, method: :put do %>
    <div id='<%=comment.id%>like-count'>
      <%= comment.get_upvotes.size %>
    </div>
  <% end %>
  
  <%= link_to dislike_comment_path(comment),remote: true, method: :put do %>
    Downvote
  <div id='<%=comment.id%>dislike-count'>
      <%= comment.get_downvotes.size %>
    </div>
    <% end %>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


