<div class="comment row">
  <div class="col-lg-2 comments_image">
    <img src=<%= comment.user.image%> width="60" height="60" style="border-radius: 10px;">
    </div>
      <div class="col-lg-10">
        <strong class = "comments_nickname"><%= link_to comment.user.name, user_url(comment.user) %></strong><br>
        <%= comment.text %>
      <div>
      <%= link_to like_comment_path(comment), class: 'fa fa-thumbs-o-up', remote: true, method: :put do %>
        <div id='<%=comment.id%>like-count'>
          <%= comment.likes %>
        </div>
      <% end %>
      <%= link_to dislike_comment_path(comment),class: 'fa fa-thumbs-o-down', remote: true, method: :put do %>
        <div id='<%=comment.id%>dislike-count'>
          <%= comment.dislikes %>
        </div>
      <% end %>
    </div>
  </div>
</div>


