<div class="comment row">
  <div class="col-lg-2 comments_image">
    <img src=<%= comment.user.image%> width="60" height="60" style="border-radius: 10px;">
  </div>
  <div class="col-lg-10">
    <strong class = "comments_nickname"><%= link_to comment.user.name, user_url(comment.user) %></strong><br>
    <%= comment.text %>
  </div>
    <%= link_to like_comment_path(comment), remote: true, method: :put do %>
      Upvote
    <%= comment.get_upvotes.size %>
  <% end %>

  <%= link_to dislike_comment_path(comment),remote: true, method: :put do %>
    Downvote
  <%= comment.get_downvotes.size %>
    <% end %>
</div>