<%= bootstrap_form_for(@post) do |f| %>
  <%= f.text_field  :title, 
                    maxlength: 100, 
                    placeholder: 'Title', 
                    class: 'form-control',
                    required: true, 
                    minlength: 5,
                    maxlength: 100 %>
  <%= f.trix_editor :content, class: 'editor' %>
   <%= f.hidden_field :img_url,
                   rows: 1,
                   class: 'form-control',
                   placeholder: 'Paste image url',
                   id: 'url_up'%>
  <%= f.collection_select :category_id, @categories, :id, :name, class: 'form-control' %>
  <%= f.text_field :tag_list, :class => "form-control", placeholder: "Add some tags through comma" %>

  <a class="btn btn-social-icon btn-success btn-md" id="upload_widget_opener">
            <i class="fa fa-picture-o steps_edit_icons"></i>
          </a>
  <%= f.submit "Create a post", class: 'form-control' %>
<% end %>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
<script type="text/javascript" src="/assets/steps/upload_img"> </script>