<table class="table table-striped user_edit_table">
  <thead>
    <tr>
      <th style="text-align: left">#</th>
      <th style="text-align: left"><%= t('posts.table.title') %></th>
      <th style="text-align: left"><%= t('posts.table.updated') %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.joins('OUTER JOIN .each_with_index do |post, index| %>
      <tr onclick="window.location.href='<%= post_path(post.id) %>'">
        <th scope="row align_class"><%= index + 1 %></th>
        <td><%= post.title %></td>
        <td><%= post.updated_at.strftime("%d.%m.%y, %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>  