<div class="container">
  <%= render 'carousel' %>
  <div class="col-lg-8 main_page_posts">
  <div class="main_page_posts_header"><strong><%= t('root.top_5_favorites') %></strong></div>
    <%= render 'posts_favorite' %>
  <div class="main_page_posts_header"><strong><%= t('root.latest') %></strong></div>
    <%= render 'posts_latest' %>
  </div>
  <div class="col-lg-4 main_page_tag_cloud">
    <div class="align_class"><strong><%= t('root.tags') %></strong></div>
    <div id='tag_cloud'>
      <% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: "btn btn-success tags tag_cloud_item" %>
      <% end %>
    </div>
  </div>
</div>