<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center"><%= t('header.login') %></h2>
        <%= bootstrap_form_for(resource,
                              as: resource_name,
                              url: session_path(resource_name)) do |f| %>

            <%= f.email_field :email,
                              autofocus: true,
                              class: 'form-control',
                              placeholder: 'email' %>

            <%= f.password_field  :password,
                                  autocomplete: "off",
                                  class: 'form-control',
                                  placeholder: t('registration.password') %>


          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me, label: t('signin.remember') %>
          <% end -%>

          <%= f.submit t('header.login'), class: 'form-control login-button' %>
        <% end %>
          <a href="/users/auth/google_oauth2"><img src="https://image.flaticon.com/icons/svg/145/145804.svg" width="41" height="40"></a>
          <a href="/users/auth/github"><img src="https://image.flaticon.com/icons/svg/179/179323.svg" width="41" height="40"></a>
          <a href="/users/auth/facebook"><img src="https://image.flaticon.com/icons/svg/696/696379.svg" width="41" height="40"></a>
          <a href="/users/auth/vkontakte"><img src="https://image.flaticon.com/icons/svg/725/725288.svg" width="41" height="40"></a>
   </div>
  </div>
</div>
