<% @steps.each do |step| %>
  <strong class="posts_show_step_header"><%= t('data.step.name')%> <%= step.name =%></strong>
      <div class='row show_block'>
    
        <%= sanitize step.content %>
        <div align='center'><%= image_tag step.img_url %></div>
    </div>

<% end %>

<div class="row posts_show_row_paginate">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <%= will_paginate @steps, :page_links => false %>
  </div>
  <div class="col-lg-4"></div>
</div>