<div class="container new-post">
  <div class="row">
    <div class="col-sm-12" id="feed">
      <h1 align="center">Edit the post</h1>
        <%= render 'posts/new/post_form' %>
      </div>
      <div class="main_page_posts_header"><strong><%= t('root.steps') %></strong></div>
        <table class="table table-striped posts_index_table" style="margin-top:0">
          <thead>
            <tr>
              <th class="comments_image">#</th>
              <th class="comments_image"><%= t('posts.edit.table.step') %></th>
              <th class="comments_image"><%= t('posts.edit.table.update') %></th>
            </tr>
          </thead>
          <tbody id="steps_list">
            <% @steps.each_with_index do |step, index| %>
              <tr class="list_item" data-id = "<%= step.id %>" onclick="window.location.href='<%= edit_post_step_path(id: step.id, post_id: step.post.id) %>'">
                <th scope="row" class="comments_image"><%= index + 1 %></th>
                <td><%= step.name %></td>
                <td><%= step.updated_at.strftime("%d.%m.%y, %H:%M") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= form_for [@post, @step] do |f| %>
        <div class="field" style = "display:none">
          <%= f.label :post_id %>
          <%= f.number_field :post_id, :value => @post.id %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><%= t('Step name') %></span>
          <%= f.text_field :name, :class => "form-control" %>
        </div>
        <button type="submit" class="btn btn-success posts_edit_form_button"><%= t('posts.edit.form.Add step') %></button>
      <% end %>
    </div>
  </div>
</div>
