<div id="branch-main-content" class="container">
  <div class="row">
    <h1 class="page-title">Categories</h1>
    <%= render 'posts/create_new_post' %>
  </div><!-- row -->
  <div class="row">
  <%= render  'posts/search_form' %>
  </div><!-- row -->
  
  <div class="row">
    <%= render 'posts/categories' %>
  </div>

  <div class="row">
    <div class="col-sm-12" id="feed">
      <%= render @posts %>
      
      <%= render no_posts_path %>
    </div>
  </div><!-- row -->	

  <div class="infinite-scroll">
    <%= will_paginate @posts %>
  </div>
</div><!-- container -->