<%= render "post_main" %>
<div class="col-sm-10 col-sm-offset-1">  
  <div class="col-lg-4">
    <% @post.steps.each do |step| %>
    <div>
      <strong class="posts_show_step_header"><%= t('data.step.name')%> <%= step.name =%></strong>
      <div class='row show_block'>
      <%= sanitize step.content %>
      <%= image_tag step.img_url.gsub('https', 'http'), class: "img-responsive card-post-img" %>
    </div>
    <% end %>
</div>