<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by">Posted by <%= @post.user.name %></div>
      <% if can? :update, @post %>
        <%= link_to t('posts.show.links.edit'), edit_post_path(@post.id), class: "btn btn-success" %>
        <%= link_to t('posts.show.links.destroy'), post_path(@post.id), method: :delete, class: "btn btn-danger" %>
      <% end %>
      <h3><%= @post.title %></h3>
      <p><%= image_tag @post.img_url %>
      <%= markdown(@post.content) %>
      <div id="steps_list_show">
        <%= render 'steps' %>
      </div>
    </div>
  </div><!-- row -->
</div>