<div id="single-post-content" class="container">
  <div class="row" id='feed'>
    <%= render "post_main" %>

    <div class="col-sm-3">
      <div class="posted-by"><%= t('posts.posted_by') %><%= link_to @post.user.name, user_path(@post.user)%></div>
      <%= t('posts.rating') %>
      <%= rating_for @post, "original_score" %>
      <% if can? :manage, @post %>
        <%= link_to t('posts.show.links.edit'), edit_post_path(@post.id), class: "btn btn-success" %>
        <%= link_to t('posts.show.links.destroy'), post_path(@post.id), method: :delete, class: "btn btn-danger" %>
      <% end %>
      <%= link_to 'Create PDF', post_path(@post, :format => :pdf), class: 'btn btn-warning' %>
      <div class="main_page_posts_header"><strong><%= t('root.Steps') %></strong></div>
      <% @post.steps.each_with_index do |step, index| %>
        <h5 class="show_step"><a href="<%=@post.id%>?page=<%=index+1%>" class="btn btn-social-icon btn-success btn-md"><%= (index+1).to_s + ". " + step.name %></a></h5>
      <% end %>
    </div>

    <div class="col-sm-10 col-sm-offset-1">
      <div id="steps_list_show">
        <%= render 'steps_List_Show' %>
      </div>
      <% if current_user and can? :show, Comment %>
        <div class="input-group">
          <span class="input-group-addon"><%= t('posts.show.comment') %></span>
          <input id="input_text" data-post-id=<%= @post.id %> data-user-id=<%= current_user.id %> type="text" data-behavior="post_speaker" class="form-control">

        </div>

        <div id="comments" style="margin-top:10px">
          <%= render @comments %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" src="/assets/jquery.raty.js"></script>
<script type="text/javascript" src="/assets/ratyrate.js.erb"></script>
